{% extends "govuk/template.njk" %}

{% set htmlClasses = 'no-js' %}

{% from "header/macro.njk" import appHeader %}
{% from "breadcrumbs/macro.njk" import appBreadcrumbs %}

{% block head %}
<!--[if lte IE 8]><link href="/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
<meta property="og:title" content="{{ title }}">
{% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
<meta property="og:image" content="/images/opengraph-image.png">
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ app.serviceName or app.productName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ appHeader({
    homepageUrl: app.url or "/",
    productName: app.productName,
    serviceName: app.serviceName
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ appBreadcrumbs({
    classes: "govuk-!-display-none-print",
    title: title,
    items: collections.all,
    key: eleventyNavigation.key
  }) if eleventyNavigation and eleventyNavigation.key and eleventyNavigation.parent }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block footer %}
  <div class="govuk-!-display-none-print">
    {{ govukFooter({
      meta: {
        items: [{
          text: "Sitemap",
          href: "/sitemap"
        }]
      }
    }) }}
  </div>
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script src="/javascripts/govuk-frontend.js"></script>
    <script src="/javascripts/application.js"></script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
