{% extends "govuk/layouts/product.njk" %}

{% block content %}
  {{ appProse({
    prose: content
  }) }}
  <div class="govuk-grid-row">
    {# Paginate posts if front matter includes the pagination key #}
    {% if pagination %}
      <section class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ posts.title or app.posts.title or "Posts" }}
        </h2>
        {{ appDocumentList({
          classes: "govuk-!-margin-bottom-6",
          items: pagination.items
        }) }}
        {{ appPagination({
          previous: {
            text: "Previous",
            href: pagination.href.previous
          } if pagination.href.previous,
          next: {
            text: 'Next',
            href: pagination.href.next
          } if pagination.href.next,
          selected: pagination.pageNumber,
          items: pagination.hrefs
        }) }}
      </section>
      {% if related.items | length > 0 %}
        <div class="govuk-grid-column-one-third">
          {{ appRelated({
            title: related.title or "Related links",
            items: related.items
          }) }}
        </div>
      {% endif %}
    {# List sections (pages whose parent is `Home`) if homepage has no pagination key set #}
    {% elif eleventyNavigation.key == "Home" %}
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ sections.title or app.sections.title or "Sections" }}
        </h2>
      </div>
      {% for item in collections.all | eleventyNavigation("Home") %}
        <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
            <a href="{{ item.url | url | pretty }}">{{ item.title }}</a>
          </h3>
          <p class="govuk-body">{{ item.excerpt }}</p>
        </section>
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
