{% extends "govuk/layouts/page.njk" %}

{% from "screenshots/macro.njk" import appScreenshots %}

{% block styles %}
  <link href="/stylesheets/application.css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
  {% call appArticle({
    header: {
      title: title | noOrphans
    }
  }) %}
    {{ appProse({
      prose: content
    }) }}

    {% for collection in screenshots %}
      {{ appScreenshots(collection) }}
    {% else %}
      {{ appScreenshots(screenshots) if screenshots }}
    {% endfor %}
  {% endcall %}
{% endblock %}
