{% extends "base.njk" %}

{% from "article/macro.njk" import appArticle %}
{% from "related/macro.njk" import appRelated %}
{% from "prose/macro.njk" import appProse %}

{% block content %}
  {% call appArticle({
    header: {
      title: title | widont
    },
    footer: {
      date: page.date,
      modified: modified if modified
    }
  }) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appProse({
        prose: content
      }) }}
    </div>

    {% if related %}
    <div class="govuk-grid-column-one-third">
      {{ appRelated({
        title: related.title or "Related links",
        items: related.items
      }) }}
    </div>
    {% endif %}
  </div>
  {% endcall %}
{% endblock %}
