{% extends "layouts/tag.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Tags",
        href: "/tags"
      }
    ]
  }) }}
{% endblock %}
