{% extends "layouts/tag.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: options.parentSite.name,
        href: options.parentSite.url
      } if options.parentSite,
      {
        text: options.homeKey,
        href: "/"
      },
      {
        text: "Tags",
        href: "/tags"
      }
    ]
  }) }}
{% endblock %}
