$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "govuk/all.scss";
@import "_components/all.scss";
@import "vendor/prism.scss";

@media print {
  // Force a white background when printing a page
  .govuk-template {
    background: #fff;
  }
}
