.app-email {
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
  max-width: 40rem;

  h1, h2, h3, h4 {
    @include govuk-typography-responsive($size: 27);
    @include govuk-typography-weight-bold;
    margin-bottom: govuk-spacing(4);
  }
}

.app-email__subject {
  padding-bottom: govuk-spacing(4);
  margin-top: 0;
  margin-bottom: govuk-spacing(4);
  border-bottom: 1px solid $govuk-border-colour;
}
