:target + .app-protocol {
  outline: $govuk-focus-width solid govuk-colour("light-grey");
}

.app-protocol {
  .govuk-tag:first-of-type {
    margin-left: - govuk-spacing(1);
  }

  .govuk-tag {
    margin-right: govuk-spacing(1);
  }

  .app-document-list__item-title {
    @include govuk-font($size: 19, $weight: "bold");
  }

  .app-document-list__item-description {
    margin-bottom: 0;
  }
}

.app-protocol__tag--unknown {
  color: govuk-colour("white");
  background: govuk-colour("red");
}

.app-protocol__tag--ucas {
  color: govuk-shade(govuk-colour("red"), 20);
  background: govuk-tint(govuk-colour("red"), 80);
}

.app-protocol__tag--dfe {
  color: govuk-shade(govuk-colour("blue"), 30);
  background: govuk-tint(govuk-colour("blue"), 80);
}

.app-protocol__tag--provider {
  color: govuk-shade(govuk-colour("purple"), 20);
  background: govuk-tint(govuk-colour("purple"), 80);
}

.app-protocol__tag--service {
  color: govuk-shade(govuk-colour("dark-grey"), 30);
  background: govuk-tint(govuk-colour("dark-grey"), 90);
}

.app-protocol__tag--hesa {
  color: govuk-shade(govuk-colour("turquoise"), 40);
  background: govuk-tint(govuk-colour("turquoise"), 70);
}

.app-protocol__tag--referee {
  color: govuk-shade(govuk-colour("green"), 20);
  background: govuk-tint(govuk-colour("green"), 80);
}

.app-protocol__tag--candidate {
  color: govuk-shade(govuk-colour("orange"), 55);
  background: govuk-tint(govuk-colour("orange"), 70);
}
