{%- from "../summary-card/macro.njk" import appSummaryCard with context -%}
{%- from "../document-list/macro.njk" import appDocumentList with context -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

### {{ params.title }}

{%- set apiHtml -%}
  <code>{{ params.items.api.param | nl2br | safe }}</code>
  {%- if params.items.api.href -%}
    &nbsp;(<a href="{{- params.items.api.href -}}">API docs</a>)
  {%- endif -%}
{%- endset -%}

{%- set whyHtml -%}
<ul class="govuk-list">
  {%- for reason in params.items.why -%}
  <li>
    {%- if reason.who -%}
      {%- for actor in reason.who -%}
        <strong class="govuk-tag app-protocol__tag--{{ actor | lower }}">{{ actor | capitalize }}</strong>
      {%- endfor -%}
    {% endif %}
    {{ reason.what | markdown("inline") | safe }}
  </li>
  {%- endfor -%}
</ul>
{%- endset -%}

{%- set whatHtml -%}
<ul class="govuk-list">
  {%- for reason in params.items.what -%}
  <li>
    {%- if reason.who -%}
      {%- for actor in reason.who -%}
        <strong class="govuk-tag app-protocol__tag--{{ actor | lower }}">{{ actor | capitalize }}</strong>
      {%- endfor -%}
    {%- endif -%}
    {{ reason.what or reason | markdown("inline") | safe }}
  </li>
  {%- endfor -%}
</ul>
{%- endset -%}

{%- set accuracyHtml -%}
{%- if params.items.accuracy | length > 1 -%}
  <ul class="govuk-list govuk-list--bullet">
    {%- for check in params.items.accuracy -%}
    <li>{{ check | markdown("inline") | safe }}</li>
    {%- endfor -%}
  </ul>
{%- elif params.items.accuracy -%}
  {{ params.items.accuracy | first | markdown("inline") | safe }}
{%- endif -%}
{%- endset -%}

{%- set notesHtml -%}
{%- if params.items.notes | length > 1 -%}
  <ul class="govuk-list govuk-list--bullet">
    {%- for note in params.items.notes -%}
    <li>{{ note | markdown("inline") | safe }}</li>
    {%- endfor -%}
  </ul>
{%- elif params.items.notes -%}
  {{ params.items.notes | first | markdown("inline") | safe }}
{%- endif -%}
{%- endset -%}

{%- set historyHtml -%}
  {% set items = collections.all | includes("url", params.items.history) %}
  {{ appDocumentList({
    items: items
  }) }}
{%- endset -%}

{% set summaryHtml %}
{{- govukSummaryList({
  rows: [{
    key: {
      text: "Question on form"
    },
    value: {
      html: "<em>" + params.items.question | nl2br + "</em>"
    }
  } if params.items.question, {
    key: {
      text: "Parameter in API"
    },
    value: {
      html: apiHtml
    }
  } if params.items.api, {
    key: {
      text: "Required?"
    },
    value: {
      html: params.items.required | markdown('inline') | safe
    }
  } if params.items.required, {
    key: {
      text: "Why do we ask for this?"
    },
    value: {
      html: whyHtml
    }
  } if params.items.why, {
    key: {
      text: "What do we do with it?"
    },
    value: {
      html: whatHtml
    }
  } if params.items.what, {
    key: {
      text: "How do we check accuracy?"
    },
    value: {
      html: accuracyHtml
    }
  } if params.items.accuracy, {
    key: {
      text: "Notes"
    },
    value: {
      html: notesHtml
    }
  } if params.items.notes, {
    key: {
      text: "Related design history"
    },
    value: {
      html: historyHtml
    }
  } if params.items.history]
}) -}}
{% endset %}

{{ appSummaryCard({
  classes: "app-protocol govuk-!-margin-bottom-6",
  html: summaryHtml
}) }}
