{%- set title = params.title or "Screenshots" -%}
{%- set id = title | slugify -%}
{%- set headingLevel = params.headingLevel or 2 -%}
<section class="app-screenshots app-prose govuk-!-margin-top-9" id="{{ id }}">
  <div class="govuk-!-display-none-print">
    <h{{ headingLevel }} class="govuk-heading-l" tabindex="-1">
      <a class="app-link--heading govuk-link" href="#{{ id }}">{{ title }}</a>
    </h{{ headingLevel }}>
    <ul class="govuk-list app-screenshots__contents">
      {%- for item in params.items %}
        {%- set itemTitle = item.text or item -%}
        {%- set itemId = item.id or (itemTitle | slugify) -%}
        <li><a class="govuk-link" href="#{{ itemId }}">{{ itemTitle }}</a></li>
      {%- endfor %}
    </ul>
  </div>
{% for item in params.items -%}
  {%- set itemTitle = item.text or item -%}
  {%- set itemId = item.id or (itemTitle | slugify) -%}
  {%- set file = item.src or (itemId + ".png") -%}
  {%- set alt = item.alt or ("Screenshot of " + itemTitle) -%}
  <figure class="app-screenshots__screenshot" id="{{ itemId }}">
    <h{{ headingLevel + 1 }} class="govuk-heading-m" tabindex="-1">
      <a class="app-link--heading govuk-link" href="#{{ itemId }}">{{ itemTitle }}</a>
    </h{{ headingLevel + 1 }}>
    <a class="govuk-link" href="{{ file }}"><img src="{{ file }}" alt="{{ alt }}"></a>
    {%- if item.caption %}<figcaption>{{ item.caption | markdown | safe }}</figcaption>{% endif %}
  </figure>
{%- endfor %}
</section>
