{% set total = params.rows | totalFromRows %}
<table class="govuk-table app-bar-chart">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 50%">{{ params.headers[0] }}</th>
      <th class="govuk-table__header">{{ params.headers[1] }} ({{ total }})</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for row in params.rows %}
    {% set percentage = (row[1]/total) * 100 %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ row[0] }}</td>
      <td class="govuk-table__cell" style="--chart-width: {{ percentage }}%;">
        {{ percentage | fixed }}%
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
