{% set items = params.items | eleventyNavigationBreadcrumb(params.key) %}
<div class="govuk-breadcrumbs{%- if params.classes %} {{ params.classes }}{% endif %}">
  <ol class="govuk-breadcrumbs__list">
  {%- for item in items %}
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="{{ item.url | url | pretty }}">{{ item.title }}</a>
    </li>
  {%- endfor %}
    <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ params.title }}</li>
  </ol>
</div>
